[submodule "common-lib"]
	path = common-lib
	url = git@github.com:alphagov/di-ipv-cri-lib.git
	branch = main
[submodule "common-lambdas"]
	path = common-lambdas
	url = git@github.com:alphagov/di-ipv-cri-common-lambdas.git
	branch = main
