name: Code quality

on: workflow_call
permissions: { }

concurrency:
  group: code-quality-${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
      - name: Pull repository
        uses: actions/checkout@v5

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          cache: npm
          cache-dependency-path: lambdas/get-addresses/package.json

      - name: Install dependencies
        working-directory: lambdas/get-addresses
        run: npm ci

      - name: Run pre-commit
        uses: govuk-one-login/github-actions/code-quality/run-pre-commit@4aa6635feaed2295171e4637a9b1ef7cf03b1e96
        with:
          all-files: true
          pull-repository: false

  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Pull repository
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: corretto
          cache: gradle

      - name: Run Spotless
        run: ./gradlew --no-daemon spotlessCheck
